@{
    ViewData["Title"] = "Панель поиска";
}

<div class="list-group list-group-flush d-block position-static mx-0 shadow-lg">
	<a class="MainLeft list-group-item list-group-item-action" 
	asp-area="" 
	asp-controller="Home"
	   asp-action="Index">Все категории</a>
	<a class="MainLeft list-group-item list-group-item-action" name="searchQuery"
	   asp-area="" 
	asp-controller="Product"
	   asp-action="FindProduct"
	   asp-route-searchQuery="кухни">Кухни</a>
	<a class="MainLeft list-group-item list-group-item-action"
	   asp-area=""
	   asp-controller="Product"
	   asp-action="FindProduct"
	   asp-route-searchQuery="детская мебель">Детская мебель</a>
	<a class="MainLeft list-group-item list-group-item-action"
	   asp-area=""
	   asp-controller="Product"
	   asp-action="FindProduct"
	   asp-route-searchQuery="шкафы">Шкафы</a>
	<a class="MainLeft list-group-item list-group-item-action"
	   asp-area=""
	   asp-controller="Product"
	   asp-action="FindProduct"
	   asp-route-searchQuery="спальни">Мебель для спальни</a>
	<a class="MainLeft list-group-item list-group-item-action"
	   asp-area=""
	   asp-controller="Home"
	   asp-action="Contacts">Наши контакты</a>
</div>