@{
    ViewData["Title"] = "Панель поиска";
}

<div class="list-group list-group-flush d-block position-static mx-0 shadow-lg">
	<a class="MainLeft list-group-item list-group-item-action" 
	asp-area="" 
	asp-controller="Home"
	   asp-action="Index">Все категории</a>
	<a class="MainLeft list-group-item list-group-item-action"
	   asp-area="" 
	asp-controller="Product"
	   asp-action="FindName"
	   asp-route-name="Мария">Кухни</a>
	<a class="MainLeft list-group-item list-group-item-action"
	   asp-area=""
	   asp-controller="Product"
	   asp-action="FindName"
	   asp-route-name="Счастье">Детская мебель</a>
	<a class="MainLeft list-group-item list-group-item-action"
	   asp-area=""
	   asp-controller="Product"
	   asp-action="FindName"
	   asp-route-name="Венга">Шкафы</a>
	<a class="MainLeft list-group-item list-group-item-action"
	   asp-area=""
	   asp-controller="Product"
	   asp-action="FindName"
	   asp-route-name="Пушка">Мебель для спальни</a>
	<a class="MainLeft list-group-item list-group-item-action"
	   asp-area=""
	   asp-controller="Home"
	   asp-action="Contacts">Наши контакты</a>
</div>